[submodule "c1k3-assets"]
	path = c1k3-assets
	url = git@github.com:computermouth/c1k3-assets
[submodule "macos-angle-bins"]
	path = macos-angle-bins
	url = git@github.com:computermouth/macos-angle-bins
